{% load static %}
{% include "header.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'stars/css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'stars/css/main.css' %}">
    <script src="{% static 'stars/js/buttonClick.js' %}"></script>
    <title>Stars Explored</title>
</head>

<body>
    <div class='header'>
        <h2>ALPHA CENTAURI</h2>
    </div>
    <div class="main-content">
        <p>Alpha Centauri is a triple star system located in the constellation of Centaurus, making it one of the
            closest stellar neighbors to our solar system. It's composed of three stars: Alpha Centauri A, Alpha
            Centauri B, and Proxima Centauri.
        <p>
            <h3>Alpha Centauri A and B</h3>
            Alpha Centauri A and B form a binary star system, meaning they orbit around a common center of mass. Alpha
            Centauri A is the larger and brighter of the two, similar in size and brightness to our Sun, while Alpha
            Centauri B is slightly smaller and cooler. These two stars are separated by a distance roughly equivalent to
            the average distance between the Sun and Saturn in our solar system.
        </p>
        <p>
            <h3>Proxima Centauri</h3>
            Proxima Centauri is a red dwarf star that is part of the Alpha Centauri system, but it is much farther away
            from the binary pair, at a distance of about 0.2 light-years. It's the closest known star to the Sun and is
            known to have at least one confirmed exoplanet orbiting around it, named Proxima Centauri b.
        </p><p>
            <h3>Exploration and Research</h3>
            Due to its proximity, the Alpha Centauri system has long fascinated astronomers and space enthusiasts.
            Various space missions and research projects have been proposed to study this system in more detail,
            including the possibility of sending spacecraft to explore potential habitable planets around Alpha Centauri
            A and B.
        </p>
    <p>
            <h3>Hypothetical Planetary Systems</h3>
            Although no planets have been directly observed around Alpha Centauri A and B yet, theoretical models and
            observational data suggest that they could potentially host rocky planets within their habitable zones,
            where conditions might be suitable for liquid water and, thus, possibly life.
        </p>
    <p>
            <h3>Travel</h3> :
            The relatively close proximity of the Alpha Centauri system has also sparked discussions about the
            feasibility of interstellar travel. While current technology is far from capable of achieving such feats,
            concepts like solar sails, nuclear propulsion, or breakthrough technologies like the concept of the
            "Starshot" project have been proposed as potential methods for reaching Alpha Centauri within a human
            lifetime.
        </p>
            In summary, Alpha Centauri stands as a captivating celestial neighbor, offering tantalizing prospects for
            scientific exploration, potential habitability, and the dream of reaching out to distant stars.</p>
    </div>

    <button onclick="buttonClick()"> VIEW MORE</button>

</body>

</html>